.bank-header {
  height: 64px;

  .logo {
    width: 131px;
    float: left;

    span {
      display: block;
      width: 131px;
      height: 64px;
      background-image: url(/img/logo-1.png);
      background-size: 131px 32px;
      background-position: left;
      background-repeat: no-repeat;
    }
  }

  .type {
    float: left;
  }

  .admin {
    float: right;

    .users {
      display: inline-block;
      width: 50px;
      text-align: center;

      span {
        display: inline-block;
        color: #fff;
      }
    }
  }
}