.bank-admin {
  min-height: 600px;
  padding: 16px;
  background-color: #fff;
}

.bank-admin .title {
  padding-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.bank-admin .bank-admin-content {
  margin: 20px auto;
}

.bank-admin .bank-admin-content .password {
  margin-bottom: 15px;
}

.bank-admin .bank-admin-content .submit {
  margin-top: 25px;
}

.bank-admin .bank-admin-content .submit button {
  width: 12%;
}